{% extends "app/base.html" %}
{% load static %}

{% block content %}

<div class="section" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="s12 m12 l12">
        <div class="center-align">
          <h1 class="header center-align black-text">HerbScout!</h1>
        </div>
        <div class="center-align">
          <h5 class="header col s12 light">One-stop online information portal about Indian medicinal herbs</h5>
        </div>
        <div class="center-align">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light light-blue darken-4 z-depth-3">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="s12 m12 l12">
      <div class="card white z-depth-3">
          <div class="card-action">
            <b><p>We serve as a one-stop online information portal about indian medicinal herbs!</p></b>
          </div>
          <div class="card-action">
            <b><p>We provide a suite of AI-backed solutions to help people gain knowledge about indian medicinal herbs 5x faster!</p></b>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
